doctype html
html
  head
    title RChat
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/freelance_style.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')

  body#page-top.index
    nav.navbar.navbar-default.navbar-fixed-top
      div.container
        div.navbar-header.page-scroll
          button(type='button' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1').navbar-toggle
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='#page-top').navbar-brand RChat (#{onlineNow} Online)

        div.collapse.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='#page-top')
            li.page-scroll
              a(href='#rooms') ChatRooms
            li.page-scroll
              a(href='#profile') Profile
            li.page-scroll
              a(href='#contact') Past/Current Rooms
            li.page-scroll
              a(href='/contact') Report A Bug!
            if user
              li.page-scroll
                a(href='/logout') Logout #{user.name}
            else
              li.page-scroll
                a(href="/auth/reddit" class="login") Login with Reddit

    .invisible(data-run='#{need_rooms}')
    header
      .container
        .row
          .col-lg-12
            img.img-responsive(src='/images/profile.png', alt='')
            .intro-text
              span.name RChat
              hr
              span.skills Where Redditors Continue the Conversation
    block content

    script(type="text/html", id="user")
      .container-room(data-name="{{room}}")
        button.get-messages Get Messages
        div.oldmessages
        div.messages
        div.room-name.room-name.hidden(data-value="{{room}}")
          | {{room}}
        if user
          div.clear
          form.messageForm
            textarea(rows="4", cols="50", placeholder="What do you think?", maxlength=200).outgoingMessage
            input(type="hidden" value="#{user.name}").userField
            input(type="hidden" value="#{user.image}").userImage
            input(type="button", value="Submit", style="width: 100px; height: 100px;").send
        else
          p Sign in with your reddit account to join in on the conversation

    script(src='/javascripts/jquery-1.11.0.js')
    script(src='/javascripts/bootstrap.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
    script(src='/javascripts/classie.js')
    script(src='/javascripts/cbpAnimatedHeader.min.js')
    script(src='/javascripts/jqBootstrapValidation.js')
    script(src='/javascripts/contact_me.js')
    script(src='/javascripts/freelancer.js')
    script(src='/javascripts/ICanHaz.min.js')
    script(src='/javascripts/chat.js')
    script(type='text/javascript' src='/bower_components/moment/moment.js')
    script(src='/bower_components/underscore/underscore.js')


